<a href="#" class="thumbnail">
    <img src="../img/profile.png" alt={{data.firstname}} {{data.lastname}}>
</a>
<h1 id="profilename">{{data.firstname}} {{data.lastname}}</h1>
<h4 id="profileuser">@{{data.username}}</h4>
<h4 id="profileblog"></h4>{{data.profileBody}}